::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 193, 7) !important;
  border-radius: 50px !important;
}
.MuiDrawer-paperAnchorTop {
  width: 85%;
  margin: 0 0 0 auto;
}
body {
  background-color: #161c24 !important;
}
.MuiList-root {
  padding: 1rem 0 !important;
  background-color: #161c24 !important;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 16px 0px;
}
/* 


.MuiDivider-root {
  border: 2px solid red;
}



.makeStyles-drawerOpen-7 {
  height: 100% !important;
  
}

.MuiList-root {
  height: 100%;
 
}

@media(min-width:0) and (max-width:800.9px) {

  .makeStyles-content-10 {
    position: absolute !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }

  .makeStyles-drawerClose-8 {
    position: absolute !important;
  }
  .makeStyles-drawerOpen-7 {
    width: 97% !important;
    height: auto;
  }

  .MuiTypography-paragraph{
    width: 0;
  } */
/* .MuiToolbar-regular {
    position: absolute !important;
    border: 2px solid red;
    justify-content: space-evenly !important;
  } */
/*
  .makeStyles-appBarShift-3 {
    width: 0 !important;
  }

  .makeStyles-toolbar-9,
  .jss9 {
    padding: 0 1rem;
  }

  .makeStyles-orange-13,
  .jss13 {
    display: none !important;
  }

  .MuiDrawer-paperAnchorTop {
    width: 100%;
  }

  .MuiToolbar-regular {
    margin: 0.5rem 0;
  }

  .makeStyles-menuButton-4,
  .jss4 {
    margin-right: 0 !important;
  }
  .widthNavbar .MuiToolbar-regular{
    width: 0 !important;
}*/
@media (min-width:0) and (max-width:800.9px) {
  .makeStyles-content-10 {
    padding: 5px !important;
  }
  .chartjs-render-monitor{
    width: 100% !important;
  }
  .dnone{
    display: none !important;
  }
  /* .makeStyles-drawerClose-8 {
    position: absolute !important;
    border: 2px solid red;
  }

  .makeStyles-drawerOpen-7 {
    width: 80% !important;
    border: 2px solid rgb(82, 18, 18);
  }




  .MuiToolbar-root {
    position: absolute !important;
  } */
}